@import './login.scss';
fieldset{
    text-align: center;
}
.form-inline{
    display: block;
}
a{
    text-decoration: none;
    color: black;
}

@media (min-width: 768px){
    .navbar-expand-md {
        -ms-flex-pack: start;
        justify-content: safe !important;
    }
}